mixin help(data)
    .help
      .container
        .info
          ul.info__list
            li.info__item Easy Returns
            li.info__item Free shipping on all orders over 100$
            li.info__item Easy Call support free:
              a(href="#").link 123-45-67-890
            
        .lk-icon-block
          ul.lk-icon__list
            li.lk-icon__item
              a(href="#").lk-icon__link.lk-icon Личный кабинет
            li.lk-icon__item
              a(href="#").lk-icon__link.wh-icon Список желаний
            li.lk-icon__item
              a(href="#").lk-icon__link.c-icon Корзина
                span.lk-icon__quantity 1
                  
