doctype html
html(class="no-js", lang="ru")

    include ../modules/head/head
    include ../modules/footer/footer

    head
        +head(head.defaults)
    body.page
        |%=symbols=%


        header.header
          .container
            .box.flex
              .box__item.w_lg-6.w_md-3.w_sm-6.w_xs-12
                p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста 
                .box-2.flex
                  .box-2__item.w_lg-6.w_md-12.w_sm-6.w_xs-12
                    p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста
                  .box-2__item.w_lg-6.w_md-12.w_sm-6.w_xs-12
                    p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста 

              .box__item.w_lg-3.w_md-3.w_sm-6.w_xs-12
                p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста 
              .box__item.w_lg-3.w_md-3.w_sm-6.w_xs-12
                p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста 
              .box__item.w_lg-3.w_md-3.w_sm-6.w_xs-12
                p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
