.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.g-flex {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
}

.g-flex_row {
  justify-content: flex-start;
}

.g-flex_align-center {
  align-items: center;
}

.g-flex_full-center {
  justify-content: center;
  align-items: center;
}

.s-contaiten {
  padding: 0 10px;
  margin: 0 auto;
  width: $wigth;
}

//Модификаторы
.color_red {
  color: red;
}





//Стили для страницы

//Шапка
.s-header {
  padding: 15px 0;
  border-bottom: 2px solid #444;
}

//Лого
.header__link {
  font-size: 24px;
  text-transform: uppercase;
  color: #444;
  text-decoration: none;
}

//Навигация
.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav_defaul {

  .nav__item {
    display: inline-block;
  }
}

.nav_header {

  .nav__item {
    display: inline-block;
  }
}


.aside_header {
  list-style: none;

  .nav__item {
    border-top: 1px dotted red;

    &:first-child {
      border: none;
    }
  }

  .nav__link {
    padding: 5px 0;
    display: block;
    text-decoration: none;
  }
}



// .color {
//
//     @include break(lg) {
//         color: #444;
//     }
//
//     @include break(sm) {
//         color: #444;
//     }
//
//     @include break(xs) {
//         color: red;
//     }
// }
//
// .font {
//
//     @include break(lg) {
//         font-size: 24px;
//         display: none;
//     }
//
//     @include break(sm) {
//         font-size: 54px;
//     }
//
//     @include break(xs) {
//         font-size: 14px;
//     }
// }
