html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.m-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  align-content: flex-start;
}

.m-flex_between {
  justify-content: space-between;
}

.s-container {
  width: $max-width - 10%;
  margin: 0 auto;
}

.s-header {
  //@include width-media((xx: 12, lg: 12, md: 12, sm: 12, sx: 12));
}

.header__item {
  @include width-media((xx: 3, lg: 4, md: 6, sm: 6, sx: 12));
}

.header__box {
  background: red;
  height: 200px;
}


.s-wrap {
  height: 100%;
}

.leftbox {
  background: red;
  @include width-media((xx: 2, lg: 3, md: 3, sm: 3, sx: 2));
  flex-grow: 1;
  flex-shrink: 2;
  align-content: stretch;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  background: #f6f6f6;
  @include width-media((xx: 10, lg: 9, md: 9, sm: 9, sx: 10));
  position: absolute;
  right: 0;
}

.content__item {
  @include width-media((xx: 10, lg: 9, md: 9, sm: 9, sx: 10));
}
