// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    color:$color;
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

// You can add your own mixins here:

//Переменные для сетки
$max-width: 100%;
// количество элементов
$max-cols: 12;

$breakpoints: (
  xs: 320px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px,
  xx: 1680px
);

$max-breakpoints: (
  xs: 425px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px,
  xx: 1920px
);

@mixin break($size) {
  @media (max-width: map-get($max-breakpoints, $size)) {
    @content;
  }
}

@mixin break-min($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// @each $key, $val in $breakpoints {
//
//   @for $i from 1 through $items {
//     .#{$key}#{$i} {
//       @include break-min($key) {
//         padding: 0 10px;
//         box-sizing: border-box;
//         width: $max-width / $items * $i;
//       }
//     }
//   }
// }

$media: (xx: 1920px, lg: 1200px, md: 992px, sm: 768px, sx: 320px);

// @mixin width($col) {
//   flex-basis: $max-width / $max-cols * $col;
// }

@mixin width($col) {
  width: $max-width / $max-cols * $col;
}

 @mixin width-media($param) {
   @each $med, $col in $param {

     @if $med == "xx" {
       @media (max-width: map-get($media, "xx")) {
         @include width($col);
         padding: 10px;
         box-sizing: border-box;
       }
     }
     @if $med == "lg" {
       @media (max-width: map-get($media, "lg")) {
         @include width($col);
         padding: 10px;
         box-sizing: border-box;
       }
     }
     @else if $med == "md" {
       @media (max-width: map-get($media, "md")) {
         @include width($col);
         padding: 10px;
         box-sizing: border-box;
       }
     }
     @else if $med == "sm" {
       @media (max-width: map-get($media, "sm")) {
         @include width($col);
         padding: 10px;
         box-sizing: border-box;
       }
     }
     @else if $med == "sx" {
       @media (max-width: map-get($media, "sx")) {
         @include width($col);
         padding: 10px;
         box-sizing: border-box;
       }
     }
     @else {
       @include width($col);
       padding: 10px;
       box-sizing: border-box;
     }
   }
 }
