//Стили кнопок
$bg-color-grey: #ccc;
$bg-color-blue: blue;
$font-size: 14px;
$color: #fff;

//
//Переменные для миксина flex
$sb: space-between;
$fs: flex-start;
$c: center;
$w: wrap;
$nw: nowrap;
$col: column;