mixin nav(data)
    .nav=mod
      ul.nav__list.nav_header-list
        li.nav__item
          a.nav__link(href="#") Главная
        li.nav__item
          a.nav__link(href="#") Новости
        li.nav__item
          a.nav__link(href="#") Услуги
        li.nav__item
          a.nav__link(href="#") Блог
        li.nav__item
          a.nav__link(href="#") Контакты
